page-rotas {

    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 45%;
            font-size:  5px;
            width: 100%;
            font-weight: bold;
            color: #2E2E5A;
          }

        
        }
}
