page-cadastro-rota {
    .item-inner{
        padding-top: 20px;
    }
    .texto {
        height: 100%;
        width: 100%;
        padding: 2% 10% 2% 10%;
    }
    
    .button-inner {
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;  
        padding-bottom: 2%;
    }
}
