<!--
  Generated template for the CadastroRotaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>  
    <ion-item>
        <ion-label floating>Tipo de Viagem</ion-label>
        <ion-select [(ngModel)]="Rota.tipoRota">
          <ion-option *ngFor="let rota of tipo_rota" value="{{rota.id}}">{{rota.descricao}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item >
        <ion-label inline>Horário de saída</ion-label>
        <ion-input type="time"  [(ngModel)]="Rota.previsao"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label inline>Quantidade de Lugares</ion-label>
        <ion-input type="number" [(ngModel)]="Rota.qtdeLugares"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Distancia maxima permitida (metros)</ion-label>
      <ion-input type="number" [(ngModel)]="Rota.distancia"></ion-input>
    </ion-item>
    <ion-list >
      <ion-item>
        <ion-label floating>Origem</ion-label>
        <ion-select [(ngModel)]="Rota.origem" *ngIf="Rota.tipoRota==1" >
          <ion-option *ngFor="let origem of dest_usuario" value="{{origem.id}}">{{origem.descricao}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="Rota.origem" *ngIf="Rota.tipoRota==2">
          <ion-option *ngFor="let origem of dest_universidade" value="{{origem.id}}">{{origem.descricao}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label floating>Destino</ion-label>
        <ion-select [(ngModel)]="Rota.destino" *ngIf="Rota.tipoRota==2" >
            <ion-option *ngFor="let destino of dest_usuario" value="{{destino.id}}">{{destino.descricao}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="Rota.destino" *ngIf="Rota.tipoRota==1">
          <ion-option *ngFor="let destino of dest_universidade" value="{{destino.id}}">{{destino.descricao}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="insert(Rota)" outline round>Inserir Novo Local</button>

    <ion-grid>
      <ion-row>
          <ion-col>  
            <div>
              <button ion-button color="submit" class="texto" outline round (click)="confirmar()">Salvar</button>
            </div>
          </ion-col>                  
          <ion-col>  
            <div >
              <button ion-button color="cancel" class="texto" outline round (click)="Cancelar()">Cancelar</button>
            </div>
           </ion-col> 
      </ion-row>
    </ion-grid>

</ion-content>
