page-cadastro-rota {
    .item-inner{
        padding-top: 20px;
    }
    .texto {
        height: 100%;
        width: 100%;
        padding: 2% 10% 2% 10%;
    }
    .strong {
        font-weight: bold;
    }

}
